<h1>Cadastrar Imóvel:</h1>

<% if @property.errors.any? %>
<ul>
  <% @property.errors.messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>  
<% end %>

<%= form_for(@property) do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :property_type_id, 'Tipo do Imóvel'  %>
    <%= f.collection_select(:property_type_id, @property_types, :id, :name, {prompt: "Select um Tipo de Imóvel"}, {class: 'form-control col-md-6'}) %>
  </div>
  <div class="form-group">
    <%= f.label :location, 'Localização' %>
    <%= f.text_field :location, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :area, 'Área' %>
    <div class="form-inline">
      <%= f.number_field :area, class:'form-control col-md-6' %>&nbsp;m²
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descrição' %>
    <%= f.text_area :description, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :daily_rate, 'Valor da Diária em R$' %>
    <%= f.number_field :daily_rate, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :rooms, 'Quantidade de Quartos' %>
    <%= f.number_field :rooms, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :minimum_rent_days, 'Número mínimo de Diárias' %>
    <%= f.number_field :minimum_rent_days, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :maximum_rent_days, 'Número máximo de Diárias' %>
    <%= f.number_field :maximum_rent_days, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :maximum_occupancy, 'Número máximo de Ocupantes' %>
    <%= f.number_field :maximum_occupancy, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :usage_rules, 'Regras de Uso' %>
    <%= f.text_area :usage_rules, class:'form-control col-md-6' %>
  </div>
  <div class="form-group">
    <%= f.label :photo, 'Foto' %>
    <%= f.text_area :photo, class:'form-control col-md-6' %>
  </div>

  <%= f.submit 'Cadastrar', class:'btn btn-primary' %>

<% end %>
  